body {
    font-family: Arial, sans-serif;
    background-color:antiquewhite;
    margin: 0;
}

/* Navigation Bar */
nav {
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color:#4A2C2A;
    text-decoration: none;
    font-size: 20px;
    width:60px;

}
.navbar .add-icon{
    color:antiquewhite;
    text-decoration: none;
    font-size: 10px;
    border-radius:50%


}

.navbar a:hover, .add-icon:hover {
    text-decoration:none;
}

/* Search Bar Styling */
#search-bar {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid antiquewhite;
}

.search-btn {
    padding: 6px 10px;
    background-color:#4A2C2A;
    color:antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color:brown;
}

/* Image Gallery Styling */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 80px; /* to ensure content isn't hidden under navbar */
}

.image-item {
    background-color: white;
    padding: 10px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-details h3 {
    margin-top: 10px;
    font-size: 18px;
}

.image-details p {
    font-size: 14px;
    color: #555;
}

/* Add Icon styling */
.add-icon {
    font-size: 24px;
    text-decoration: none;
    background-color: #4A2C2A;
    border-radius: 50%;
    padding: 10px;
    color: white;
}

.add-icon:hover {
    background-color:brown;
}