/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    color:#4A2C2A;
}

/* Section Styling */
.section {
    background-color:antiquewhite;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

/* Image Section */
#image-section {
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Review Section */
#review-section form {
    text-align: center;
}

.rating {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.star {
    font-size: 30px;
    cursor: pointer;
    margin: 0 5px;
    color: gray;
}

.star:hover {
    color: gold;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.submit-btn {
    background-color:#4A2C2A;
    color:antiquewhite;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:brown;
}

/* Contact Section */
#contact-section .contact-info {
    text-align: center;
    font-size: 16px;
}

#contact-section .contact-info p {
    margin: 5px 0;
}s